*{padding:0;margin:0;}
*{box-sizing:border-box; color:#383733; transition: all 1s; word-break: break-all;}
*::before{box-sizing:border-box;}
*::after{box-sizing:border-box;}
a{text-decoration: none; cursor: pointer;}
ul,ol,li{list-style: none;}
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg, #cdc4bd, #e3dbd5, #c8c2be, #968f8a, #ffffff, #6e6e6e);
    background-size: 1200% 1200%;
    animation: backgroundGradient 60s ease infinite;
}
h1,span,p,li{
    cursor: default;
}
.page{
    width:1200px;
    box-shadow: 0px 0px 53px -1px rgba(0,0,0,0.75);
}
.bottomLine{
    border:1.5px #383733 solid;
    width:40px;
}
.bottomLine.active{
    animation:lineMove 0.3s linear;
    animation-fill-mode: forwards;
}
@keyframes lineMove{
    0%{
        transform: scale(1,1);
        transform-origin: left;
    }
    100%{
        transform: scale(4,1);
        transform-origin: left;
    }
}
@keyframes backgroundGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/* location*/
main{
    display: flex;
}

/* topBar */
.topBar{
    background: #CCCBC9;
    display:flex;
}
.topBar .headSculptureWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
    border:3px #FFFEFF solid;
    border-radius:100%;
    overflow: hidden;
    margin:30px 30px 30px 100px;
}
.topBar .summary{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topBar .summary .applyJob{
    font-weight:bold;
    padding:10px 0;
    font-size:20px;
}

/* aside */
aside{
    width:30%;
    padding:0 40px;
    background: #EDEDED;
    padding-top:33px;
}
h1{
    line-height: 60px;
    padding:0 40px;
    font-size:18px;
}
aside .information ul{
    margin:30px 0;
}
aside .information li{
    margin:10px 0;
}
aside .information li span{
    font-size:15px;
    line-height: 1.8;
    font-weight:bold;
    padding-left:5px;
}
aside .mainSkill ul{
    margin:30px 0;
}
aside .mainSkill li{
    list-style: square;
    font-size:16px;
    font-weight:bold;
    margin:10px 0;
}
aside .mainSkill li .starts{
    font-size:12px;
    padding-left:5px;
}
aside .mainSkill li p{
    margin-top:5px;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.8;
}
aside .introduce ul{
    margin:30px 0;
}
aside .introduce li{
    list-style: square;
    margin:3px 0;
    font-size: 15px;
    line-height: 1.8;
}
.otherLinksPrint {
    display: none;
}
.otherLinksPrint li{
    margin:10px 0;
}
.otherLinksPrint ul{
    margin:10px 0;
}
.otherLinksPrint svg{
    margin-right:5px;
}
/* mainSide */
.mainSide{
    background: #FDFDFD;
    width:70%;
    padding:0 80px;
}
.mainSide h1{
    background: #EFEFEF;
    margin:40px 0 5px 0;
    line-height: 2.5;
}
.mainSide .bottomLine{
    margin-bottom:40px;
}
.mainSide .skillList li{
    list-style: square;
    word-break: break-all;
    margin:20px 0;
    font-size: 15px;
    line-height: 1.8;
}
.mainSide .portfolio li{
    border:3px dashed  #EDEDED;
    padding:20px 30px;
    margin:10px 0;
}
.mainSide .portfolio li img{
    width:70%;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.55);
}
.mainSide .portfolio .portfolioShow{
    display: flex;
    align-items: center;
    
}
.mainSide .portfolioShow .portfolioLink{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainSide .portfolioShow .portfolioLink>div{
    margin:10px 0;
    cursor: pointer;
}
.mainSide .portfolioShow .portfolioLink>div:hover{
    text-decoration: underline;
}
.mainSide .portfolioList .portfolioDescribe{
    margin-top:20px;
}
.mainSide .portfolioList .portfolioDescribe .row{
    margin:10px 0;
}
.portfolioDescribe .row svg{
    width:1em; height:1em;
}
.portfolioDescribe .row span{
    font-size:14px;
    font-weight:bold;
}



.portfolioLink svg{
    width:1em;
    height:1em;
}
.mainSide .otherLinks{
    padding-bottom:100px;
}
.mainSide .otherLinks ul{
    display:flex;
    align-items: center;
}
.mainSide .otherLinks li{
    margin-right:40px;
}
.mainSide .otherLinks li svg{
    margin-right:5px;
    cursor: pointer;
}
.mainSide .otherLinks span{
    cursor: pointer;
}
.mainSide .otherLinks li:hover svg{
    cursor: pointer;
    animation: svgRotate linear 0.4s;
    animation-fill-mode: forwards;
}   
@keyframes svgRotate{
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(360deg)
    }
}
.mainSide .otherLinks li a{
    position: relative;
}
.QRCode{
    position:absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top:-40px;
    left:100%;
    opacity: 0;
}
.weixin:hover .QRCode{
    opacity: 1;
}
.portfolioDescribe>.row>.describe{
    font-weight: normal;
    line-height:1.8;
    font-size:15px;
    word-break: break-all;
}
.private,#headSculptureWrapper{
    display:none;
}
