@media print{
    .private{
        display: block;
    }
    aside .mainSkill{
        margin-top:400px;
    }
    .mainSide .portfolio{
        margin-top:600px;
    }
    .mainSide .portfolio li:nth-child(5){
        margin-bottom:0px;
    }
    .mainSide .portfolio li:nth-child(6){
        margin-top:200px;
    }
    .mainSide{
        padding:0 40px;
    }
    .portfolioDescribe>.row>.describe{
        line-height:1.8;
    }
    .otherLinks{
        display: none;
    }
    .otherLinksPrint {
        display: block;
    }
    .bottomLine{
        transform: scale(4,1);
        transform-origin: left;
    }
    @page {
        margin: 14mm 18mm 10mm; 
        size:A4;
        page-break-inside: avoid;
        page-break-before: always;
    }
}